body{
  color: white;
  background: #c0d3ff;
}

span{
  font-size: 30px;
}

#camera , #result{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}

#result_emotion_name ,#result_emotion_name2  {
  color: black;
}

.emotion_name{
  font-size: 40px;
}

.emoji{
  font-size:48px;
}

.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}

#webcam_view , #snapshot{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#prediction1 , #prediction2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 500px;
}